<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index/choose.css" />
<%- include("../partials/nest-nav") %> 
</head>
<body>

<main>
    <div class="row d-flex container-fluid">
            <div class="row">
              <h3>All Profiles</h3>
                <% profiles?.forEach(profile => { %>
                    <div class="card">
                        <% if (profile.avatar) { %> 
                            <img style="height: 100px; width: 100px;" src="<%= profile.avatar %>" class="card-img" alt="<%= profile.name %>'s Avatar">
                        <% } %> 
                            <div class="card-body">
                              <h5 class="card-title text-center"><%= profile.name %></h5>
                              <form action="/nest/<%= profile._id %>" method="GET">
                                <button type="submit" class="btn btn-lg btn-primary">Go to Profile</button>
                              </form>
                            </div>
                        </div>
                      </div>
                <% }) %> 
            </div>
    </div>
</main>

<%- include('../partials/footer') %>