<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index/choose.css" />
<%- include("../partials/nav") %> 
</head>
<body>
    <div class="modal" id="newPost" tabindex="-1" aria-labelledby="newPost" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="newPost">New Post</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="submit-form" action="/nest/posts" method="POST">
                <div class="form-floating mb-3">
                    <textarea type="text" class="form-control" id="floatingInput" name="content" required></textarea>
                    <label for="name">Content:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="image" >
                    <label for="image">Image URL:</label>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Post!</button>
                </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal" id="newFlock" tabindex="-1" aria-labelledby="newFlock" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="newFlock">New Flock</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="submit-form" action="/nest/flocks" method="POST">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="name" required>
                    <label for="name">Flock Name:</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea type="text" class="form-control" id="floatingInput" name="desc"></textarea>
                    <label for="desc">Description:</label>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create Flock!</button>
                </div>
            </form>
          </div>
        </div>
      </div>
<main>
    <div class="row d-flex container-fluid">
        <div class="col-6 container-fluid">
            <% posts?.forEach(post => { %>
                <div class="card">
                <% if (post.image) { %> 
                        <img src="" class="card-img-top" alt="...">
                        <% } %> 
                        <div class="card-body">
                          <h5 class="card-title text-center"><%= post.author.name %></h5>
                          <p class="card-text"><%= post.content %></p>
                          <p class="card-text">Liked by: <%= post.likes.length %> people!</p>
                          <form action="/nest/posts/<%= post._id %>/like" method="POST">
                            <button type="submit" class="btn btn-lg btn-success">Like!</button>
                          </form>
                          <form action="/nest/posts/<%= post._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-lg btn-danger">DELETE</button>
                          </form>
                        </div>
                    </div>
                  </div>
            <% }) %> 
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newPost">
                Create Post
            </button>  
        </div>
        <div class="col-6 container-fluid">
            <div class="row container-fluid">
                <h3>New Flocks</h3>
                <% flocks?.forEach(flock => { %>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center"><%= flock.name %> - Created by <%= flock.profiles[0].name %></h5>
                            <p class="card-text"><%= flock.desc %></p>
                        </div>
                    </div>
                <% }) %> 
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newFlock">
                    Create Flock
                </button>  
            </div>
            <div class="row">
                <% profiles?.forEach(profile => { %>
                    <div class="card">
                        <% if (profile.avatar) { %> 
                            <img style="height: 100px; width: 100px;" src="<%= profile.avatar %>" class="card-img" alt="<%= profile.name %>'s Avatar">
                        <% } %> 
                            <div class="card-body">
                              <h5 class="card-title text-center"><%= profile.name %></h5>
                              <form action="/nest/<%= profile._id %>" method="GET">
                                <button type="submit" class="btn btn-lg btn-primary">Go to Profile</button>
                              </form>
                            </div>
                        </div>
                      </div>
                <% }) %> 
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>