<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index/choose.css" />
<%- include("../partials/nav") %> 
</head>
<body>
    <div class="modal" id="newPost" tabindex="-1" aria-labelledby="newPost" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="newPost">New Post</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="submit-form" action="/nest/posts" method="POST">
                <div class="form-floating mb-3">
                    <textarea type="text" class="form-control" id="floatingInput" name="content" required></textarea>
                    <label for="name">Content:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="image" >
                    <label for="image">Image URL:</label>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Post!</button>
                </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal" id="updateProfile" tabindex="-1" aria-labelledby="updateProfile" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateProfile">Update Profile</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="submit-form" action="/nest/<%= profile._id %>?_method=PUT" method="POST">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="name" value="<%= profile.name %>" required>
                    <label for="name">Name:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="avatar" value="<%= profile.avatar %>" required>
                    <label for="avatar">Avatar Link:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput" name="age" value="<%= profile.age %>">
                    <label for="age">Age:</label>
                </div>
                <div class="form-floating row mb-3">
                    <div class="col-2">
                        <label for="gender">Gender:</label>
                    </div>
                    <div class="col-10">
                        <select name="gender">
                            <option value="">Select One</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="country"  value="<%= profile.country %>">
                    <label for="country">Country:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="state"  value="<%= profile.state %>">
                    <label for="state">State (put in two letter initals):</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="city"  value="<%= profile.city %>">
                    <label for="city">City/Town:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="favBird" value="<%= profile.favBird %>">
                    <label for="favBird">Favorite Bird:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="birthday"  value="<%= profile.birthday %>">
                    <label for="birthday">Birthday:</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea type="text" class="form-control" id="floatingInput" name="bio"><%= profile.bio %></textarea>
                    <label for="bio">Bio:</label>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update Profile!</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    <div class="row d-flex container-fluid">
        <div class="col-6 container-fluid">
            <% profile.posts?.forEach(post => { %>
                <div class="card">
                <% if (post.image) { %> 
                        <img src="" class="card-img-top" alt="...">
                        <% } %> 
                        <div class="card-body">
                          <h5 class="card-title text-center"><%= post.author.name %></h5>
                          <p class="card-text"><%= post.content %></p>
                          <p class="card-text">Liked by: <%= post.likes.length %> people!</p>
                          <form action="/nest/posts/<%= post._id %>/like" method="POST">
                                <button type="submit" class="btn btn-lg btn-success">Like!</button>
                          </form>
                          <% if(post.author._id.toString() === user.profile._id.toString()) {%>
                          <form action="/nest/posts/<%= post._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-lg btn-danger">DELETE</button>
                          </form>
                          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editPost">
                            Edit Post
                        </button>  
                          <% } %> 
                        </div>
                    </div>
                  </div>
                  <div class="modal" id="editPost" tabindex="-1" aria-labelledby="editPost" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="editPost">Edit Post</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form class="submit-form" action="/nest/posts/<%= post._id %>?_method=PUT" method="POST">
                            <div class="form-floating mb-3">
                                <textarea type="text" class="form-control" id="floatingInput" name="content" required><%= post.content %></textarea>
                                <label for="content">Content:</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="image" value="<%= post.image %>" >
                                <label for="image">Image URL:</label>
                            </div>
                        </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Post!</button>
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>
            <% }) %> 
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newPost">
                Create Post
            </button>  
        </div>
        <div class="col-6 container-fluid">
            <div class="row container-fluid">
                <h3><%= profile.name %>'s Flocks</h3>
                <% profile.flocks?.forEach(flock => { %>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center"><%= flock.name %> - Created by <%= flock.profiles[0] %></h5>
                            <p class="card-text"><%= flock.desc %></p>
                        </div>
                    </div>
                <% }) %> 
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newFlock">
                    Create Flock
                </button>  
            </div>
            <div class="row">
                <div>
                <h1>Profile Information</h1>
                <img src="<%= profile.avatar %> " alt="<%= profile.name %>'s avatar">
                <h2><%= profile.name %></h2>
                <p>Age: <%= profile.age %></p>
                <p>Gender: <%= profile.gender %></p>
                <p>Location: <%= profile.country %>, <%= profile.state %>, <%= profile.city %></p>
                <p>Favorite Bird: <%= profile.favBird %></p>
                <p>Birthday: <%= profile.birthday %></p>
                <p>Biography: <%= profile.bio %></p>
                <% if (user.profile._id.toString() === profile._id.toString()) { %>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#updateProfile">Update Profile</button>
                    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteProfile">Delete Profile</button>
                    <% } %>
                </div>
            </div>

<%- include('../partials/footer') %>