<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index/choose.css" />
<link rel="stylesheet" href="/stylesheets/date/nav.css">

<%- include("../partials/nav") %> 
</head>
<body>
    <div class="modal" id="newPost" tabindex="-1" aria-labelledby="newPost" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="newPost">New Post</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="submit-form" action="/nest/posts" method="POST">
                <div class="form-floating mb-3">
                    <textarea type="text" class="form-control" id="floatingInput" name="content" required></textarea>
                    <label for="name">Content:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="image" >
                    <label for="image">Image URL:</label>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Post!</button>
                </div>
            </form>
          </div>
        </div>
      </div>
            <div class="row">
                <% profiles?.forEach(profile => { %>
                    <div class="card">
                        <% if (profile.avatar) { %> 
                            <img style="height: 100px; width: 100px;" src="<%= profile.avatar %>" class="card-img" alt="<%= profile.name %>'s Avatar">
                        <% } %> 
                            <div class="card-body">
                              <h5 class="card-title text-center"><%= profile.name %></h5>
                              <form action="/date/<%= profile._id %>/" method="GET">
                                <button type="submit" class="btn btn-lg btn-primary">Go to Profile</button>
                              </form>
                            </div>
                        </div>
                      </div>
                <% }) %> 
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>

