<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index/choose.css" />
<%- include("../partials/nav") %> 
            <div class="row">
                <div>
                <h1>Profile Information</h1>
                <img src="<%= profile.avatar %> " alt="<%= profile.name %>'s avatar">
                <h2><%= profile.name %></h2>
                <p>Age: <%= profile.age %></p>
                <p>Gender: <%= profile.gender %></p>
                <p>Location: <%= profile.country %>, <%= profile.state %>, <%= profile.city %></p>
                <p>Favorite Bird: <%= profile.favBird %></p>
                <p>Birthday: <%= profile.birthday %></p>
                <p>Biography: <%= profile.bio %></p>
                </div>
            </div>
                    <% if (user.profile._id.toString() === profile._id.toString()) { %>
                        <a 
                          class="btn btn-lg btn-primary"
                          role="button" 
                          href="/date/<%= profile._id %>/schmedit"
                        >
                          Edit Profile
                        </a>
                                            <!-- <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteProfile">Delete Profile</button> -->
                                            <a 
                                            class="btn btn-lg btn-primary"
                                            role="button" 
                                            href="/date"
                                          >
                                            Delete Profile
                                          </a>
                      <% } %>
<%- include('../partials/footer') %>
 
