  <%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/index/choose.css" />
  <%- include("../partials/nav") %> 
<h1>Update User</h1>

<form class="submit-form" action="/date/<%= profile._id %>?_method=PUT" method="POST">
    <div class="form-floating row mb-3">
        <div class="col-2">
            <label for="gender">Gender:</label>
        </div>
        <div class="col-10">
            <select name="gender">
                <option value="">Select One</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="floatingInput" name="content" required></textarea>
        <label for="name">Name:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="avatar" value="<%= profile.avatar %>" required>
        <label for="avatar">Avatar Link:</label>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="floatingInput" name="content" required></textarea>
        <label for="name">Age:</label>
    </div>
    
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="floatingInput" name="content" required></textarea>
        <label for="name">Country:</label>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="floatingInput" name="content" required></textarea>
        <label for="name">State:</label>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="floatingInput" name="content" required></textarea>
        <label for="name">City/Town:</label>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="floatingInput" name="content" required></textarea>
        <label for="name">Hobbies:</label>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="floatingInput" name="content" required></textarea>
        <label for="name">Birthday:</label>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="floatingInput" name="content" required></textarea>
        <label for="name">Bio:</label>
    </div>
        <button type="submit" class="btn btn-primary">Update Profile!</button>
</form>
  <%- include('../partials/footer') %>

