  <%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/index/choose.css" />
  <%- include("../partials/nav") %> 
<h1>Update User</h1>
<main>
<form class="submit-form" method="POST" 
action="/date/<%= profile._id %>?_method=PUT">

    <div class="form-floating row mb-3">
        <div class="col-2">
            <label for="gender">Gender:</label>
        </div>
        <div class="col-10">
            <select name="gender">
                <option value="">Select One</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="name" required>
        <label for="name">Name:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="avatar" value="<%= profile.avatar %>" required>
        <label for="avatar">Avatar Link:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="age" value="<%= profile.age %>" required>
        <label for="age">Age:</label>
    </div>
    
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="country">
        <label for="country">Country:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="state">
        <label for="name">State:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="city/town">
        <label for="city">City/Town:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="birthday">
        <label for="birtday">Birthday:</label>
    </div>
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="floatingInput" name="bio"></textarea>
        <label for="bio">Bio:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="favBird" value="<%= profile.favBird %>">
        <label for="favBird">Hobbies:</label>
    </div>
        <button type="submit" class="btn btn-primary">Update Profile!</button>
</form>
</main>
  <%- include('../partials/footer') %>

